.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(24, 18, 68, 0.7),rgba(24, 18, 68, 0.7)), url(../../assets/hero4.jfif);
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
}
.hero-text{
    max-width: 800px;
}
.hero-text h1{
    font-size: 60px;
    font-weight: 600;
}
.hero-text p{
    max-width: 500px;
    margin: 10px auto 20px;
    line-height: 1.4;
}
.headline-img{
    max-width: 100px;
    margin-left: 26px;
}
.headline-img img{
    width: 350px;
    height: 250px;
    border: 3px rgb(202, 199, 199) solid;
    border-radius: 20px;
    

}