.specialty{
    margin: 80px auto;
    width: 90%;
    text-align: center;
}
.delicacy{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px;
}
.delicacy img{
    width: 23%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0 , 0.09);
}
